body{
    background-color: #dae4ee;

}
.home{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)),
        url('../image/backgr.jpeg');
       
       
       background-size: cover;
}
.intro{
    color:black;
    padding: 10% 20%;
    text-align: justify;
}